@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.main{
    width:80%;
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
}

.close-button{
    padding:unset;
}

h1, h2{
    font-family: 'Comfortaa', cursive;
}


.big-number{
    font-family: 'Comfortaa', cursive;
    height: 6vh;
    font-size:xx-large;
}
.big-number span{
    padding-top: 5px;
}

.sum_operator{
    font-family: 'Comfortaa', cursive;
    font-size: 3em;
    color: purple;
}

.sum_operand{
    font-family: 'Comfortaa', cursive;
    font-size: 3em;
    color: sienna;
}

.ans_input{
   
    display:unset;
}

.smiley-face{
    font-size: 3em;
}

@media screen and (max-width: 600px){
    .main{
        width:unset;
        margin-top: unset;
    }

    .big-number{
        font-size:x-large;
        
    }

    #random_btn{
        font-size: 0.8em;
        margin-left:0px;
    }

    .ans_input{
       
        display: unset;
    }
    
}

@media screen and (max-width: 950px){
    .main{
        width:100%;
        margin-top: unset;
    }

    .big-number{
        
        font-size:x-large;
       
    }

    .ans_input{
      
        display: unset;
    }
}
